<div data-role="page">

    <div data-role="header">
        <h1>CouchbaseBeer.rb</h1>
        <a href="/" data-icon="home">Home</a>
        <a data-rel="back">Back</a>
    </div>

    <div data-role="content">
        <p>This application is built for demonstration of the key features of Couchbase Server.</p>
        <ul data-role="listview" data-inset="true">
            <li><%= link_to "Locate breweries on map", locator_path %></li>
            <li><%= link_to "Lookup breweries by country", countries_path %></li>
            <li><%= link_to "Lookup breweries", breweries_path %></li>
            <li><%= link_to "Lookup beers", beers_path %></li>
        </ul>
    </div>

</div>
