<section id="welcome">
    <div class="jumbotron">
        <h1>Simple. Fast. Elastic.</h1>
        <p class="lead">
            This application demonstrate key features of Couchbase
            client for Ruby programming language.
        </p>
        <%= link_to "Sign in with Twitter", "/auth/twitter", :class => "btn btn-large btn-primary" %>
    </div>
</section>
