<section id="welcome">
    <div class="page-header">
        <h1>Hello, <%= current_user.name %></h1>
    </div>
    <div class="row">
        <div class="span5">
            <h3>Submissions</h3>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span5">
            <h3>Favourites</h3>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% @favourites.each do |item, time| %>
                        <tr>
                            <td><%= link_to item.name, item %></td>
                            <td><%= l(time, :format => :short) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</section>
