<section id="countries">
    <div class="page-header">
        <h1>Countries</h1>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <% @countries.each do |country| %>
                <tr>
                    <td>
                        <%= link_to country.key, country_path(country) %>
                        <span class="badge pull-right"><%= country.value %></span>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>

