<section id="breweries">
    <div class="page-header">
        <h1>Breweries in <%= params[:id] %></h1>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <% @breweries.each do |brewery| %>
                <tr>
                    <td><%= link_to brewery.name, brewery_path(brewery) %></td>
                    <td><%= brewery.location %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

</section>
